<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KOReaderKeychainAccessGroup</key>
	<string>$(AppIdentifierPrefix)com.maxoliinyk.koreaderremote.watch</string>
	<key>NSMotionUsageDescription</key>
	<string>KORemote Labs uses wrist motion to test experimental page-turn gestures.</string>
	<key>WKApplication</key>
    <true/>
    <key>WKCompanionAppBundleIdentifier</key>
    <string>com.maxoliinyk.koreaderremote</string>
</dict>
</plist>
